{% extends 'phones/homepage.html' %}
{% load static %}
<html xmlns="http://www.w3.org/1999/html">
<head>
    <script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
</head>
<body>
{% block content %}
    <div class="col p-4">

        <div class="card">
            <h5 class="card-header font-weight-light">create new contact</h5>

            <form>
                {{ form.as_ul }}
            </form>
            <button id="send-form">save</button>
        </div>
    </div>
{% endblock %}
</body>
{% block page_scripts %}
    <script>
        $(document).ready(function () {
            $('#send-form').on('click', function (event) {
                var first_name = $('#id_name').val();
                var last_name = $('#id_last_name').val();
                var phone_number = $('#id_phone_number').val();
                var creator = $('#id_creator').val();
                $.ajax({
                    url: '{% url "phones:create" %}',
                    method: 'post',
                    data: {
                        name: first_name,
                        last_name: last_name,
                        phone_number: phone_number,
                        creator: creator,
                    },
                    success: function (response) {
                        alert('با موفقیت ذخیره شد.');
                    },
                    error: function (response) {
                        alert('اطلاعات وارد شده صحیح نیست.');
                    }
                });
            });
        });
    </script>
{% endblock %}
</body>
</html>
