{% extends 'phones/homepage.html' %}
{% load widget_tweaks %}
<html>
<head>
    <title>EditProfile</title>

</head>

<body>
{% block content %}
    <form method="POST">
        {% csrf_token %}
        <label for="title">نام:</label>
        {{ form.first_name | add_class:'form-control' }}
        <label for="title">نام خانوادگی: </label>
        {{ form.last_name  | add_class:'form-control' }}
        <label for="title">ایمیل:</label>
        {{ form.email | add_class:'form-control' }}

        <input type="submit" name="sumbit">
    </form>
    </body>
{% endblock %}
</html>
